.footer {
    margin: 35px 0;
    padding: 20px;
    background-color: $main-color-card;
    border-radius: 6px;
    box-shadow: 16px 16px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-linkgit {
        img {
            height: 50px;
        }
    }
    &-year{
        font-size: 14px;
    }
    &-linkrs {
        img {
            height: 50px;
        }
    }
}